Step 1: Loading Data

In [1]:
import io
import re
from datetime import datetime
import pandas as pd
import streamlit as st
from pypdf import PdfReader
import pdfplumber
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import fitz  # PyMuPDF

In [11]:
file_path = '/DraftMLResumeProject/parsed_resumes.csv'
try:
    df = pd.read_csv(file_path)
except:
    df = pd.read_csv("parsed_resumes.csv")      # manual read

In [12]:
# Print the shape of the dataset

print(f"There are {df.shape[0]} rows and {df.shape[1]} columns.")

There are 213 rows and 11 columns.

In [13]:
# Display first 5 rows of Raw Data
display(df.head())

,filename,name,email,phone,summary,skills,education,experience,projects,research,relevant_classwork
0,R_062P3gnulqWHuYp_Resume_012319.pdf,Sara McAllister,smcallister@hmc.edu,(650) 919-4271,NaN,"C, C++, Python, Matlab, Assembly, Bash, Haskel...","[{""school"": ""Harvey Mudd College"", ""degree"": ""...","[{""title"": ""Tutor and Grader"", ""company"": ""Har...","[{""name"": ""High-availability NFS Server"", ""des...","[{""title"": ""Research Assistant, Computer Scien...","File Systems, Algorithms, Operating Systems, A..."
1,R_0BQu5fWUIVXaNm9_SPRING 2019 Resume - HVL.docx,HOA V. LUU,hluu8@gatech.edu,770-853-1325,NaN,"Java, C++, Shell Scripting (bash), MacOS, Micr...","[{""school"": ""Georgia Institute of Technology"",...","[{""title"": ""Cashier"", ""company"": ""LD Nails"", ""...","[{""name"": ""Non-Profit Donation Tracking App"", ...",[],"Data Structures and Algorithms, Objects and De..."
2,R_0vmGx2SxL7WwosV_Isabel Castro resume fall 20...,Isabel A. Castro,castroi@ufl.edu,(646) 417–1473505,NaN,"C#, Java, C++, JavaScript, Python, Unity, Blen...","[{""school"": ""University of Florida"", ""degree"":...","[{""title"": ""STEM Summer Camp Assistant Counsel...","[{""name"": ""CIS4930, Virtual Reality for the So...",[],"Programming Fundamentals 1 and 2, Discrete Str..."
3,R_0qdcYTjiGhMEbtf_Meade_Resume.pdf,DORIAN MEADE,dorianmeade@ufl.edu,(954) 470-0860,NaN,"Java, C, C++, C#, SQL, HTML and CSS, MATLAB, J...","[{""school"": ""University of Florida"", ""degree"":...","[{""title"": ""Member"", ""company"": ""Association f...",[],"[{""title"": ""STEM Academy"", ""description"": ""Des...","Programming Fundamentals, Data Structures, App..."
4,R_0JI4NZ93kKpwrvz_MohonaAhmed.pdf,Mohona Ahmed,mohonaahmed62@gmail.com,(561)-674-1142,NaN,"Java, C++, Swift","[{""school"": ""UNIVERSITY OF FLORIDA"", ""degree"":...","[{""title"": ""EXPLORE INTERN – AI PLATFORM"", ""co...","[{""name"": ""SurgeryU"", ""description"": null}, {""...","[{""title"": ""PUBLICATIONS"", ""description"": ""Yin...","Discrete Mathematics, Data Structures and Algo..."

In [14]:
# Information about Dataset
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   filename            213 non-null    object
 1   name                210 non-null    object
 2   email               209 non-null    object
 3   phone               209 non-null    object
 4   summary             51 non-null     object
 5   skills              204 non-null    object
 6   education           213 non-null    object
 7   experience          213 non-null    object
 8   projects            213 non-null    object
 9   research            213 non-null    object
 10  relevant_classwork  141 non-null    object
dtypes: object(11)
memory usage: 18.4+ KB

None

In [15]:
# Print Summary Statistics
display(df.describe(include = "all"))

,filename,name,email,phone,summary,skills,education,experience,projects,research,relevant_classwork
count,213,210,209,209,51,204,213,213,213,213,141
unique,213,209,208,208,51,203,211,204,124,20,140
top,R_062P3gnulqWHuYp_Resume_012319.pdf,Michael Joseph O’Connell,michaeljoconnell@ufl.edu,(904) 629-9221,To obtain a full-time job working on embedding...,"C#, C++, C, Java, Python, JavaScript, CSS, HTM...",[],[],[],[],"Data Structures, Software Engineering, Databas..."
freq,1,2,2,2,1,2,3,9,89,194,2

In [16]:
# Count duplicates and missing values
num_duplicates = df.duplicated().sum()
missing_values = df.isnull().sum()

# Display the results
print(f"Number of duplicate rows: {num_duplicates}")
print("\nMissing values per column:")
print(missing_values)

Number of duplicate rows: 0

Missing values per column:
filename                0
name                    3
email                   4
phone                   4
summary               162
skills                  9
education               0
experience              0
projects                0
research                0
relevant_classwork     72
dtype: int64

In [17]:
# Handle missing values
df.dropna(inplace = True)

In [18]:
# Display Columns names
df.columns

Index(['filename', 'name', 'email', 'phone', 'summary', 'skills', 'education',
       'experience', 'projects', 'research', 'relevant_classwork'],
      dtype='object')

In [19]:
# Print the shape of the dataset

print(f"There are {df.shape[0]} rows and {df.shape[1]} columns.")

There are 30 rows and 11 columns.

Step 2: Exploratory Data Analysis

In [ ]:
# need column for if person got an internship or not
# code would be like internship_counts = df['internship'].value_counts()

Step 3: Preprocessing

Splitting Train/Test Data

In [26]:
# Perform training and testing split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# probably need to use one hot encoder, decision tree, or feature engineering

NameError: name 'X' is not defined